@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #F8F8F8;
}
.main {
    text-align : center;
    position: relative;
    top: 25vh;
}
.title {
    font-size: 3em;
}



.messagepop{
    border: none; 
    border-radius: 5px; 
    outline:0; 
    height:15vh; 
    padding: 5px;
    margin-left: 5px;
    width: 70vw;
    margin: 0 auto;
    text-align:justify;
}

h1{
    margin-bottom:0
}
