/* 로딩 바 에니메이션 */

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes load {
  from {transform: translate(0, 0)}
  to {transform: translate(390px, 0)}
}

#bar {
  width: 100px;
  height: 10px;
  background: linear-gradient(to bottom right, cyan, lightblue);
  border-radius: 6px;
  box-shadow: 0 0 10px lightblue;
  
  animation: load 1s infinite alternate ease-in-out;
}
